h1 {
    font-family: 'Permanent Marker';
}

h2 {
    font-family: 'Permanent Marker';
}

h4 {
    font-family: 'Permanent Marker';
}

body {
background-color: rgb(255, 255, 255);
}

#show {
    color: black;
    float: right;
}

canvas {
    border:solid black;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
    box-shadow: 5px 5px 5px rgb(238, 255, 0);
    box-shadow: 5px 5px 5px rgb(0, 255, 34);
    box-shadow: 5px 5px 5px rgb(0, 247, 255);
    box-shadow: 5px 5px 5px rgb(55, 0, 255);
    box-shadow: 5px 5px 5px rgb(255, 0, 221);
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 350px;
    height: 350px;
}

@keyframes example{
    from {
        box-shadow: 5px 5px 5px rgb(255, 0, 0);
    }
    to {
        box-shadow: 5px 5px 5px rgb(238, 255, 0);
    }
    to {
        box-shadow: 5px 5px 5px rgb(0, 255, 34);
    }
    to {
        box-shadow: 5px 5px 5px rgb(0, 247, 255);
    }
    to {
        box-shadow: 5px 5px 5px rgb(55, 0, 255);
    }
    to {
        box-shadow: 5px 5px 5px rgb(255, 0, 221);
    }

}